#searchInput{
    width: 50%;
box-shadow: 0 0 10px #ccc , 0  0 20px #ccc;
    outline: none;
     border: 2px solid rgb(255, 102, 0);
     text-align: center;
     height: 15%;
}
@media (max-width:799px){
    #searchInput{       
    margin-top:10%;
    width: 80%;
    }
}
@media (max-width:500px){
    #searchInput{       
    margin-top:20%;
    width: 90%;
    }
}